<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MLong</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="static?file=css/marketing-old-ie.css">
    <link rel="stylesheet" href="static?file=css/marketing.css">
</head>
<body>
    <div id="id-backgroud-div">

        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/">MLong</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/user/register/view" class="pure-menu-link">Register</a></li>
                    <li class="pure-menu-item"><a href="/todo/index" class="pure-menu-link">Todo</a></li>
                    <li class="pure-menu-item"><a href="/weibo/index" class="pure-menu-link">Weibo</a></li>
                </ul>
            </div>
        </div>
        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">Hello {{ username }}</h1>
                <p>
                    <a href="/user/login/view" class="pure-button pure-button-primary">Login</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
