<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
<form action="/user/register" method="post" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">请输入用户名</label>
            <input name="username" id="name" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="password">请输入密码</label>
            <input name="password" id="password" type="password" placeholder="Password">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">注册</button>
        </div>
    </fieldset>
    <legend></legend>
    <h3>{{ result }}</h3>
</form>
</body>
</html>